<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Home</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>

<body>
<div class="container-fluid">

  <div class="row">

    <div class="col-md-6 col-xl-3">
      <div class="card bg-primary text-white">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-calendar-check-outline fs-4"></i>
            </span>
            <span class="fs-4 scroll-numbers">102,125.00</span>
          </div>
          <div class="text-end">任务总数</div>
        </div>
      </div>
    </div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-danger text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-plus fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">920,000</span>
  	      </div>
  	      <div class="text-end">今日新增</div>
  	    </div>
  	  </div>
  	</div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-pink text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-numeric-7-box-multiple fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">34,005,000</span>
  	      </div>
  	      <div class="text-end">七日新增</div>
  	    </div>
  	  </div>
  	</div>

  	<div class="col-md-6 col-xl-3">
  	  <div class="card bg-purple text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-calendar-month fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">153 条</span>
  	      </div>
  	      <div class="text-end">本月新增</div>
  	    </div>
  	  </div>
  	</div>

      <div class="col-md-6 col-xl-3">
  	  <div class="card bg-success text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-check fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">34,005,000</span>
  	      </div>
  	      <div class="text-end">成功数量</div>
  	    </div>
  	  </div>
  	</div>

      <div class="col-md-6 col-xl-3">
  	  <div class="card bg-secondary text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-alert-circle-outline fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">34,005,000</span>
  	      </div>
  	      <div class="text-end">未完成</div>
  	    </div>
  	  </div>
  	</div>

      <div class="col-md-6 col-xl-3">
  	  <div class="card bg-cyan text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-account-group fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">34,005,000</span>
  	      </div>
  	      <div class="text-end">用户数量</div>
  	    </div>
  	  </div>
  	</div>

       <div class="col-md-6 col-xl-3">
  	  <div class="card bg-indigo text-white">
  	    <div class="card-body">
  	      <div class="d-flex justify-content-between">
  	        <span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
              <i class="mdi mdi-arrow-projectile fs-4"></i>
            </span>
  	        <span class="fs-4 scroll-numbers">34,005,000</span>
  	      </div>
  	      <div class="text-end">访问次数</div>
  	    </div>
  	  </div>
  	</div>


  </div>

  <div class="row">

  	<div class="col-md-6">
  	  <div class="card">
  	    <div class="card-header">
  	      <div class="card-title">每周用户</div>
  	    </div>
  	    <div class="card-body">
  	      <canvas class="js-chartjs-bars"></canvas>
  	    </div>
  	  </div>
  	</div>

  	<div class="col-md-6">
  	  <div class="card">
  	    <div class="card-header">
          <div class="card-title">交易历史记录</div>
  	    </div>
  	    <div class="card-body">
  	      <canvas class="js-chartjs-lines"></canvas>
  	    </div>
  	  </div>
  	</div>

  </div>


</div>

<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/chart.min.js') }}"></script>
<!-- 数字动态滚动增加效果 -->
<script type="text/javascript" src="{{url_for('static', filename='js/scroll-numbers.js') }}"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="{{url_for('static', filename='js/main.min.js') }}"></script>

<script type="text/javascript">
$(document).ready(function(e) {
	var $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),
		$dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');

	var $dashChartBarsData = {
		labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
		datasets: [{
			label: '注册用户',
			borderWidth: 1,
			borderColor: 'rgba(0, 0, 0, 0)',
			backgroundColor: 'rgba(0, 123, 255,0.5)',
			hoverBackgroundColor: "rgba(0, 123, 255, 0.7)",
			hoverBorderColor: "rgba(0, 0, 0, 0)",
			data: [2500, 1500, 1200, 3200, 4800, 3500, 1500]
		}]
	};
	var $dashChartLinesData = {
		labels: ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
			'2014'
		],
		datasets: [{
			label: '交易资金',
			data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],
			borderColor: '#007bff',
			backgroundColor: 'rgba(0, 123, 255, 0.175)',
			borderWidth: 1,
			fill: false,
			lineTension: 0.5
		}]
	};

	new Chart($dashChartBarsCnt, {
		type: 'bar',
		data: $dashChartBarsData
	});

	var myLineChart = new Chart($dashChartLinesCnt, {
		type: 'line',
		data: $dashChartLinesData,
	});
});
</script>
</body>
</html>